* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set up default styles for root, html, and body */
#root,
html,
body {
  width: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

/* Media query for mobile and tablet */
@media (max-width: 768px) {
  /* Adjust width of root and body */
  #root,
  body {
    width: 100%;
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.personal-projects-title {
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}
